html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  margin: 0px; }

h5 {
  color: #f2f2f2;
  padding: 0;
  margin: 0;
  font-weight: initial;
  display: inline-block; }

h3 {
  font-size: 16px;
  color: #4d4d4d; }

p {
  color: gray;
  font-size: 0.9em; }
